
boto==2.49.0
entrypoints==0.3
Flask==1.0.2
Jinja2==2.10
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
libarchive-c==2.8
librosa==0.6.3
Markdown==3.1.1
MarkupSafe==1.1.1
numpy==1.16.2
numpydoc==0.8.0
pandas==0.24.2
pandocfilters==1.4.2
path.py==11.5.0
pathlib2==2.3.3
pickleshare==0.7.5
ply==3.11
py==1.8.0
pylint==2.3.1
python-dateutil==2.8.0
python-speech-features==0.6
requests==2.21.0
ruamel-yaml==0.15.46
scikit-image==0.14.2
scikit-learn==0.20.3
scipy==1.2.1
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tqdm==4.31.1
